{% extends "parent_hash_form.twig" %}

{% block formContent %}

      <div><strong>Userid: </strong>{{userid}}</div>

      {{ form_row(form.Current_Password) }}
      {{ form_row(form.New_Password_Initial) }}
      {{ form_row(form.New_Password_Confirmation) }}
      {{ form_row(form._token) }}

{% endblock %}
