<?xml version="1.0" encoding="UTF-8" ?>

<rss version="2.0">

<channel>
  <title>Hash Stats</title>
  <link>{{ url }}</link>
  <description>On on</description>
  {% if top_alltime_hashers|length == 10 %}
    {% for item in top_alltime_hashers %}
      <item>
        <title>Top 10 Hasher: {{item.NAME}}, {{item.VALUE}} runs</title>
        <link>{{url_prefix}}/{{kennel_abbreviation}}/hashers/{{item.THE_KEY}}</link>
        <description>Detailed Hasher Stats</description>
      </item>
    {% endfor %}
  {% endif %}
</channel>

</rss>
