<?xml version="1.0" encoding="UTF-8" ?>

<rss version="2.0">

<channel>

  <title>Hash Stats</title>
  <link>{{ url }}</link>
  <description>On on</description>

  {% if top_alltime_hashers|length > 0 %}
  <item>
    <title>Top Hashers:
    {% set out = "" %}
    {% for item in top_alltime_hashers %}
      {% set out = out ~ item.NAME ~ " (" ~ item.VALUE ~ "), " %}
    {% endfor %}
    {{ out|trim(', ') }}
    </title>
    <link>{{url_prefix}}/hashingCounts</link>
    <description>Hasher Counts</description>
  </item>
  {% endif %}

  {% if top_overall_hares|length > 0 %}
  <item>
    <title>Top Hares:
    {% set out = "" %}
    {% for item in top_overall_hares %}
      {% set out = out ~ item.NAME ~ " (" ~ item.VALUE ~ "), " %}
    {% endfor %}
    {{ out|trim(', ') }}
    </title>
    <link>{{url_prefix}}/haringCounts</link>
    <description>Haring Counts</description>
  </item>
  {% endif %}

  {% if top_hashers_this_year|length > 0 %}
  <item>
    <title>Top Hashers This Year:
    {% set out = "" %}
    {% for item in top_hashers_this_year %}
      {% set out = out ~ item.NAME ~ " (" ~ item.VALUE ~ "), " %}
    {% endfor %}
    {{ out|trim(', ') }}
    </title>
    <link>{{url_prefix}}/hashingCounts</link>
    <description>Hasher Counts</description>
  </item>
  {% endif %}

  {% if top_hashers_last_year|length > 0 %}
  <item>
    <title>Top Hashers Last Year:
    {% set out = "" %}
    {% for item in top_hashers_last_year %}
      {% set out = out ~ item.NAME ~ " (" ~ item.VALUE ~ "), " %}
    {% endfor %}
    {{ out|trim(', ') }}
    </title>
    <link>{{url_prefix}}/hashingCounts</link>
    <description>Hasher Counts</description>
  </item>
  {% endif %}

  {% if top_hares_this_year|length > 0 %}
  <item>
    <title>Top Hares This Year:
    {% set out = "" %}
    {% for item in top_hares_this_year %}
      {% set out = out ~ item.NAME ~ " (" ~ item.VALUE ~ "), " %}
    {% endfor %}
    {{ out|trim(', ') }}
    </title>
    <link>{{url_prefix}}/haringCounts</link>
    <description>Haring Counts</description>
  </item>
  {% endif %}

  {% if top_hares_last_year|length > 0 %}
  <item>
    <title>Top Hares Last Year:
    {% set out = "" %}
    {% for item in top_hares_last_year %}
      {% set out = out ~ item.NAME ~ " (" ~ item.VALUE ~ "), " %}
    {% endfor %}
    {{ out|trim(', ') }}
    </title>
    <link>{{url_prefix}}/haringCounts</link>
    <description>Haring Counts</description>
  </item>
  {% endif %}

  {% if top_streakers|length > 0 %}
  <item>
    <title>Top Streakers:
    {% set out = "" %}
    {% for item in top_streakers %}
      {% set out = out ~ item.NAME ~ " (" ~ item.VALUE ~ "), " %}
    {% endfor %}
    {{ out|trim(', ') }}
    </title>
    <link>{{url_prefix}}/longestStreaks</link>
    <description>Longest Streaks</description>
  </item>
  {% endif %}

  {% if current_streakers|length > 0 %}
  <item>
    <title>Current Streakers:
    {% set out = "" %}
    {% for item in current_streakers %}
      {% set out = out ~ item.THE_HASHER_NAME ~ " (" ~ item.THE_STREAK_IN_EVENTS ~ "), " %}
    {% endfor %}
    {{ out|trim(', ') }}
    </title>
    <link>{{url_prefix}}/listStreakers/byhash/{{lastEvent}}</link>
    <description>Current Streakers</description>
  </item>
  {% endif %}

</channel>

</rss>
