{% extends "parent_hash_form.twig" %}

{% block formContent %}

      <div><strong>Userid: </strong>{{userid}}</div>

      {{ form_row(form.currentPassword) }}
      {{ form_row(form.newPasswordInitial) }}
      {{ form_row(form.newPasswordConfirmation) }}
      {{ form_row(form._token) }}

{% endblock %}
