{% extends "fullwidth.twig" %}

{% block content %}

  <style type="text/css">
   .table > tbody > tr > td { border: 0; padding: 0; font-size: 14px; }
   .table > thead > tr > th { border: 0; padding: 0; font-size: 16px; }
   .row { display: flex; }
  </style>

  <script type = "text/javascript" src = "/node_modules/jquery/dist/jquery.min.js"></script>
  <script type = "text/javascript" src = "/node_modules/bootstrap-growl-ifightcrime/jquery.bootstrap-growl.min.js"></script>

  <script type = "text/javascript" language = "javascript">

  //Generic function to retrieve data
  function getListData(url_value, div_value, column_one_header, column_two_header, year_value) {
   var formData = {year_value:year_value};

   $("#theContent").append('<div style="display: none;" id="' + div_value.substring(1) + '"></div>');

   return $.ajax({
       url : url_value,
       type: "POST",
       data : formData,
       dataType : 'json',
       success: function(data, textStatus, jqXHR){

         var html = [];

         html.push('<table class="table table-condensed">');
         html.push('<thead>');
         html.push('<tr><th>' +column_one_header+'</th><th>' +column_two_header+'</th></tr>');
         html.push('<tr><th></th><th>&nbsp;</th></tr>');
         html.push('</thead>');

         $.each(data, function(key,row) {
           html.push('<tr>');
           html.push('<td><b>'+ row.HASHER_NAME + '</b></td>');
           html.push('<td>'+ row.THE_COUNT + '</td>');
           html.push('</tr>');
         });

         html.push('</table>');

         $(div_value).append(html.join(''));
       },
       error: function (jqXHR, textStatus, errorThrown){
         console.log(errorThrown);
       }
   });
  }

//This function loads when the pages loads
 $().ready(function() {

    var blocks = [];

    blocks.push(getListData("/{{kennel_abbreviation}}/statistics/getHasherCountsByYear","#hasherCounts-list","Hasher","Count",{{yearValue}}));
    {% for hare_type in hare_types %}
      blocks.push(getListData("/{{kennel_abbreviation}}/statistics/getHareCountsByYear/{{hare_type.HARE_TYPE}}","#{{hare_type.HARE_TYPE_NAME}}HareCounts-list","Hasher","Count",{{yearValue}}));
    {% endfor %}
    blocks.push(getListData("/{{kennel_abbreviation}}/statistics/getTotalHareCountsByYear","#totalHareCounts-list","Hasher","Count",{{yearValue}}));
    blocks.push(getListData("/{{kennel_abbreviation}}/statistics/getNewbieHasherListByYear","#newbieHashers-list","Hasher","Count",{{yearValue}}));
    {% for hare_type in hare_types %}
      blocks.push(getListData("/{{kennel_abbreviation}}/statistics/getNewbieHareListByYear/{{hare_type.HARE_TYPE}}","#newbie{{hare_type.HARE_TYPE_NAME}}Hare-list","Hare","Count",{{yearValue}}));
    {% endfor %}
    blocks.push(getListData("/{{kennel_abbreviation}}/statistics/getNewbieOverallHareListByYear","#newbieOverallHare-list","Hare","Count",{{yearValue}}));

    $.when.apply($, blocks).done(function() {
      var html = [];
      doList(html, 'Hasher Counts', '* {{yearValue}} hashing count listed', 'hasherCounts');
      {% for hare_type in hare_types %}
        doList(html, '{{ hare_type.HARE_TYPE_NAME }} Haring Counts', '* {{yearValue}} {{ hare_type.HARE_TYPE_NAME }} haring count listed', '{{ hare_type.HARE_TYPE_NAME }}HareCounts');
      {% endfor %}
      doList(html, 'Overall Haring Counts', '* {{yearValue}} overall haring count listed', 'totalHareCounts');
      doList(html, 'Newbie Hashers', '* All time hashing count listed', 'newbieHashers');
      {% for hare_type in hare_types %}
        doList(html, 'Newbie {{ hare_type.HARE_TYPE_NAME }} Hares', '* All time {{ hare_type.HARE_TYPE_NAME }} haring count listed', 'newbie{{ hare_type.HARE_TYPE_NAME }}Hare');
      {% endfor %}
      doList(html, 'Newbie Overall Hares', '* All time overall haring count listed', 'newbieOverallHare');
      endLists(html);

      $("#theContent").append(html.join(''));
    });

  });

  var column=0;
  var bgcolor='90ee90';

  function nextBgColor() {
    bgcolor = (bgcolor=='90ee90' ? 'b19cd9' : '90ee90');
  }

  function doList(html, title, subtitle, id) {

    var hasData = $('#' + id + '-list td').length;

    var data = $('#' + id + '-list').html();
    $('#' + id + '-list').remove();

    if(hasData) {
      if(column == 4) {
        html.push('</div>');
        column = 0;
        nextBgColor();
      }
      if(column++ == 0) {
        html.push('<div class="row">');
      }
      html.push('<div id=' + id + ' class="col-sm-3" style="background-color:#' + bgcolor + ';">');
      nextBgColor();
      html.push('<h3>' + title + '</h3>');
      html.push('<h5><i>' + subtitle + '</i></h5>');
      html.push('<a href="#' + id + '-list" class="btn btn-info" style="margin-bottom: 1em;" data-toggle="collapse" aria-expanded="true">Show/Hide</a>');
      html.push('<div data-role="content" id="' + id + '-list" aria-expanded="true" class="collapse in">');
      html.push(data);
      html.push('</div>');
      html.push('</div>');
    }
  }

  function endLists(html) {
    html.push('</div>');
    column = 0;
  }

  </script>

<div class="container" id="theContent">
  <h1>{{pageTitle}}</h1>

  <div class="row">
    <div class="col-sm-4" style="background-color:gold;">
      <h3>Event Details</h3>
      <dl class="dl-horizontal">
          {% autoescape %}
            <dt>Hashes</dt><dd>{{hash_count}}</dd>
            {% for hash_type in hash_types %}
              <dt>{{ hash_type.HASH_TYPE_NAME }} Hashes </dt><dd>{{ hash_counts[hash_type.HASH_TYPE_NAME] }}</dd>
            {% endfor %}
          {% endautoescape %}
      </dl>
    </div>

    <div class="col-sm-4" style="background-color:orange;">
      <h3>People Details</h3>
      <dl class="dl-horizontal">
          {% autoescape %}
            <dt>Hashers</dt><dd>{{hasher_count}}</dd>
            {% for hare_type in hare_types %}
              <dt>{{ hare_type.HARE_TYPE_NAME }} Hares </dt><dd>{{ hare_counts[hare_type.HARE_TYPE_NAME] }}</dd>
            {% endfor %}
            <dt>Overall Hares</dt><dd>{{overall_hare_count}}</dd>
          {% endautoescape %}
      </dl>
    </div>

    <div class="col-sm-4" style="background-color:silver;">
      <h3>Newbie Details</h3>
      <dl class="dl-horizontal">
          {% autoescape %}
            {% if newbie_hashers_count > 0 %}
              <dt>Newbie Hashers</dt><dd><a href="#newbieHashers">{{newbie_hashers_count}}</a></dd>
            {% else %}
              <dt>Newbie Hashers</dt><dd>0</dd>
            {% endif %}
            {% for hare_type in hare_types %}
              {% if newbie_hare_counts[hare_type.HARE_TYPE_NAME] > 0 %}
                <dt>Newbie {{ hare_type.HARE_TYPE_NAME }} Hares </dt><dd><a href="#newbie{{ hare_type.HARE_TYPE_NAME }}Hare">{{ newbie_hare_counts[hare_type.HARE_TYPE_NAME] }}</a></dd>
              {% else %}
                <dt>Newbie {{ hare_type.HARE_TYPE_NAME }} Hares </dt><dd>0</dd>
              {% endif %}
            {% endfor %}
            {% if newbie_overall_hares_count > 0 %}
              <dt>Newbie Overall Hares</dt><dd><a href="#newbieOverallHare">{{newbie_overall_hares_count}}</a></dd>
            {% else %}
              <dt>Newbie Overall Hares</dt><dd>0</dd>
            {% endif %}
          {% endautoescape %}
      </dl>
    </div>
  </div>

</div>

{% endblock %}
